<h1> Private Events Website </h1>
<% if user_signed_in? %>
<%= link_to current_user.name, current_user %>
<%= link_to "Sign out", destroy_user_session_path %>
<% else %>
<%= link_to "Sign in", new_user_session_path %>
<%= link_to "Sign up", new_user_registration_path %>
<% end %>

<h2> Events </h2>
<% if user_signed_in? %>
<%= link_to "Make new event", new_event_path %>
<% end %>
<table>
    <tr>
    <td colspan="4"> Present Events </td>
    </tr>
    <tr>
        <td> Name </td>
        <td> Date </td>
        <td> Location </td>
        <td> Creator </td>
    </tr>
    <% @present_events.each do |event| %>
    <tr>
        <td> <%= link_to event.name, event %> </td>
        <td> <%= event.date %> </td>
        <td> <%= event.location %> </td>
        <td> <%= event.creator.name %> </td>
    </tr>
    <% end %>
</table>
<table>
    <tr>
    <td colspan="4"> Past Events </td>
    </tr>
    <tr>
        <td> Name </td>
        <td> Date </td>
        <td> Location </td>
        <td> Creator </td>
    </tr>
    <% @past_events.each do |event| %>
    <tr>
        <td> <%= link_to event.name, event %> </td>
        <td> <%= event.date %> </td>
        <td> <%= event.location %> </td>
        <td> <%= event.creator.name %> </td>
    </tr>
    <% end %>
</table>


