<h1> <%= @event.name %> </h1>
<p> is created by <%= @event.creator.name %> </p>
<p> See you at <%= @event.location %> on <%= @event.date %> ! </p>
<table>
    <tr>
        <td> Attendees </td>
    </tr>
    <% @event.attendees.each do |attendee| %>
    <tr><td> <%= attendee.name %> </td></tr>
    <% end %>
</table>
<% if @event.creator == current_user %>
<%= link_to "Delete Event!", @event, method: "delete" %>
<% end %>
<% if @event.attendees.include?(current_user) %>
<%= link_to "Don't go!", @attendance, method: "delete" %>
<% else %>
<%= link_to "Attend!", event_attendances_path(@event), method: "post" %>
<% end %>
<%= link_to "Go back!", root_path %>